.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: 0 2px 4px var(--black-02);
    color: var(--black-01);
}

.navbar__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black-01);
}

.navbar__menu {
    display: flex;
    align-items: center;
}

.navbar__menu__items {

}

.navbar__menu__items a {
    text-decoration: none;
    color: var(--black-01);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1rem;
}

@media screen and (max-width: 648px) {
    .navbar {
        padding: 2em 1em;
        justify-content: center;
        flex-direction: column;
        transition: height 0.3s ease, padding 0.3s ease;
    }

    .navbar__menu {
        margin-top: 20px;
    }

    /* Efeito com scroll */
    .navbar--scrolled {
        height: 3rem;
        padding: 0.5rem 1rem;
    }

    .navbar__logo {
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .navbar__logo--hidden {
        transform: translateY(-100%);
        opacity: 0;
        position: absolute;
    }

    .navbar__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}